
services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    volumes:
      - pqdata:/var/lib/postgresql/data
    ports:
      - "5430:5432"

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"   
      - "9001:9001"   
    environment:
      MINIO_NOTIFY_KAFKA_ENABLE_avatar-events: "on"
      MINIO_NOTIFY_KAFKA_BROKERS_avatar-events: "kafka:29092"
      MINIO_NOTIFY_KAFKA_TOPIC_avatar-events: "avatar-events"
    volumes:
      - miniodata:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181

  kafka:
    image: confluentinc/cp-kafka:6.2.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: kafka-topics --bootstrap-server kafka:29092 --list
      interval: 30s
      timeout: 10s
      retries: 3
    
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8090:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:29092
      - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KAFKA_TOPIC: keycloak-events
      KAFKA_ADMIN_TOPIC: keycloak-admin-events
      KAFKA_CLIENT_ID: keycloak
      KAFKA_EVENTS: DELETE_ACCOUNT
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    command: start-dev
    depends_on:
      - postgres
      - kafka
    ports:
      - "7070:8080"
    restart: unless-stopped
    volumes:
    - ./keycloak/keycloak-kafka/target/keycloak-kafka-1.4.0-jar-with-dependencies.jar:/opt/keycloak/providers/kafka.jar
  
  # e2e:
  #   build:
  #     context: ../e2e/
  #     dockerfile: dockerfile
  #   container_name: e2e
  #   environment:
  #     CONFIG_PATH: /root/e2e.yaml
  #   volumes:
  #     - ./configs/e2e.yaml:/root/e2e.yaml
  #   depends_on:
  #     - keycloak
  #     - tokenissuer-e2e

volumes:
  miniodata:
  pqdata:
  localstack-data: